<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- CLIENT CREDENTIALS -->
		<add key="scope" value="cob.read cob.write pix.read pix.write webhook.read webhook.write"/>
		<add key="client_id" value="4ad86e38-0dbc-11ed-861d-0242ac120002"/>
		<add key="client_secret" value="4ad870fe-0dbc-11ed-861d-0242ac120002"/>
		
		<add key="certificate_pem_filePath" value="wwwroot/Certificates/PIXVIEWERAPI_SB.pem"/>
		<add key="certificate_key_filePath" value="wwwroot/Certificates/PIXVIEWERAPI_SB.key"/>
		
		<!--API DEVELOPMENT-->
		<add key="base_url" value="https://secure.sandbox.api.pagseguro.com"/>
		
		<!--API PRODUCTION-->
		<add key="base_urlx" value="https://api.pagseguro.com"/>
		
		<!--ENDPOINTS-->
		<add key="endpoint_webhook" value="/instant-payments/webhook/"/>
		<add key="endpoint_oauth2" value="/pix/oauth2"/>
		<add key="endpoint_pix" value="/instant-payments/pix"/>
		<add key="endpoint_cob" value="/instant-payments/cob/"/>
	</appSettings>

	<connectionStrings>
		<add name="pwrdtb_des" connectionString=""/>
		<add name="pwrdtb_prod" connectionString=""/>
	</connectionStrings>
</configuration>
