<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- CLIENT CREDENTIALS -->
		<add key="scope" value="cob.read pix.read pix.write webhook.read webhook.write"/>
		<add key="client_id" value="4ad86e38-0dbc-11ed-861d-0242ac120002"/>
		<add key="client_secret" value="4ad870fe-0dbc-11ed-861d-0242ac120002"/>
		
		<add key="certificate_pem_filePath" value="C:\Users\Lucas\source\repos\PixViewer\PixViewer.WebApp\Certificates\PIXVIEWERAPI_SB.pem"/>
		<add key="certificate_key_filePath" value="C:\Users\Lucas\source\repos\PixViewer\PixViewer.WebApp\Certificates\PIXVIEWERAPI_SB.key"/>

		<add key="token" value="3b749b73-2abf-486c-833b-426aac6e79826b13c6d24a459a84a97822b25a4e83f8d0cc-58dc-40e4-aef5-fb334c4237d8"/>
		<add key="refresh_token" value="e9d049be-0f94-4a00-b32e-5f927c27de964f2833b04163af359ede91ee36f8da77e180-ba78-4962-bc48-f9123eb57463"/>
		<add key="scheme_token" value="Bearer"/>
		
		<!--API DEVELOPMENT-->
		<add key="base_url" value="https://secure.sandbox.api.pagseguro.com"/>
		
		<!--API PRODUCTION-->
		<add key="base_urlx" value="https://api.pagseguro.com"/>
		
		<!--ENDPOINTS-->
		<add key="endpoint_webhook" value="/instant-payments/webhook/"/>
		<add key="endpoint_oauth2" value="/pix/oauth2"/>
		<add key="endpoint_pix" value="/instant-payments/pix"/>
	</appSettings>

	<connectionStrings>
		<add name="pwrdtb_des" connectionString="Data Source=lucas-sousa-desenv-project.database.windows.net;Initial Catalog=DBPVWR;Persist Security Info=True;User ID=lucas;Password=c3NBqo7a"/>
		<add name="pwrdtb_prod" connectionString="Data Source=Lucas\sqlExpress;Initial Catalog=PWRDTB;Integrated Security=True;Pooling=False"/>
	</connectionStrings>
</configuration>
